var whiskey = "/pages/main/whiskey.png";
var vodka = "/pages/main/vodka.png";
var martini = "/pages/main/martini.png";
var beer = "/pages/main/beer.png";
var gin = "/pages/main/gin.png";
var random = "/pages/main/cocktail-shaker.png";
var word = "whiskey"
var cauldron = "/pages/main/cauldron (1).png"
var wine = "/pages/main/wine-bottle.png"

var easy = function (i) {
  return i;
}

var shifter = function (i) {
  if (i == "whiskey") {
    return whiskey;
  } else if (i == "gin") {
    return gin;
  } else if (i == "random") {
    return random;
  } else if (i == "beer") {
    return beer;
  } else if (i == "martini") {
    return martini;
  } else if (i == "vodka") {
    return vodka;
  } else if (i == "wine") {
    return wine;
  } else {
    return cauldron;
  }
};


module.exports = {
  beer: beer,
  martini: martini,
  whiskey: whiskey,
  gin: gin,
  random: random,
  vodka: vodka,
  word: word,
  shifter: shifter,
  easy: easy,
  cauldron: cauldron,
  wine: wine
};

